
/* Style Overrides to go here ... */

/* Page Header */
.navbar .navbar-inner		{ background-color: #f8f8f8; }

div.navbar ul.nav-pills > li.dropdown.active > a.dropdown-toggle		{ background-color: #ddd; }
div.navbar ul.nav-pills > li.dropdown.open   > a.dropdown-toggle		{ background-color: #ddd; }

div.css_main_logo			{ background: white; }
div.css_main_logo > a		{ width: 100%; height: 100%; }

footer						{ background-color: #f0f0f0; color: #014493; }
footer a, footer a:hover	{ color: #014493; }

div.css_richtext			{ border-color: #004B51; }
